.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  }
  
  .logout-card {
    max-width: 400px; 
  }
  
  .logout-title {
    text-align: center;
    color: #333; 
  }
  
  .logout-message {
    text-align: center;
    color: #666; 
  }