.custom-navbar {
    background-color: #0000CD !important;
    color: #fff !important;
    text-align: center;
    padding: 1px;
    margin-bottom: 10px;
  }
  
  .custom-navbar .navbar-nav .nav-link {
    color: #fff !important;
  }
  
  .custom-navbar .navbar-nav .nav-link.active {
    background-color: #0000CD !important;
  }